# 🧱 Dependencias de Node.js
frontend/node_modules/
backend/node_modules/

# ⚙️ Builds o distribuciones
frontend/dist/
frontend/build/
backend/dist/
backend/build/


# 🔒 Variables de entorno
frontend/.env
backend/.env
.env

# 📦 Archivos de lock (opcional si se regeneran en cada instalación)
 package-lock.json
 yarn.lock
